@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-size-small: 15px;
$font-size-medium: 18px;

$font-size-h4: 18px;
$font-size-h3: 23px;
$font-size-h2: 28px;
$font-size-h1: 32px;
